---
import SiteLayout from "@layouts/SiteLayout.astro"

export async function getStaticPaths({ paginate }) {
    const posts = await Astro.glob("../../posts/*.mdx")
    return paginate(posts, { pageSize: 2 })
}

const { page } = Astro.props
---

<SiteLayout title="Blog - CodeGnomic">
    <ul class="flex-grow">
        {
            page.data.map(({ frontmatter }) => (
                <li class="">
                    <a href={`/blog/${frontmatter.slug}`}>
                        {frontmatter.title}
                    </a>
                </li>
            ))
        }
    </ul>
    <div class="flex justify-center bg-slate-300">
        {
            page.url.prev ? (
                <a class="p-1" href={page.url.prev}>
                    Previous
                </a>
            ) : null
        }
        {
            page.url.next ? (
                <a class="p-1" href={page.url.next}>
                    Next
                </a>
            ) : null
        }
    </div>
</SiteLayout>
