---
import SiteLayout from "./SiteLayout.astro";
---

<SiteLayout>
    <div class="md">
        <slot />
    </div>
</SiteLayout>

<style is:global>
    .md h1 {
        @apply text-3xl
    }
</style>