---
import Nav from "@components/Nav.svelte"
import ThemeWrapper from "@components/ThemeWrapper.svelte"

const { title } = Astro.props
---

<html>
    <head>
        <title>{title}</title>
    </head>
    <body>
        <ThemeWrapper client:load>
            <Nav client:load />
            <main
                class="flex-grow flex flex-col dark:text-slate-100 dark:bg-slate-800"
            >
                <slot />
            </main>
        </ThemeWrapper>
    </body>
</html>
